.full-width-table {
  width: 100%;
}

.app-card {
  width: 400px;
  margin: 5px
}

.app-tile:hover {
  cursor: pointer;
  opacity: 0.8;
  border: solid 2px;
}

.app-card-image {
  width: 250px;
  text-align: center;
  margin: 5px;
}


