<h1>Useful links</h1>

<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let item of dataSource" class="app-tile" (click)="goToDetails(item.id)" >
    <mat-card class="app-card">
      <mat-card-header>
        <mat-card-title (click)="goToDetails(item.id)"> {{ item.name }}</mat-card-title>
      </mat-card-header>
      <img class="app-card-image" mat-card-image
           [useSrcset]="true"
           [defaultImage]="defaultImage"
           [lazyLoad]="item.icon"
           [errorImage]="imageToShowOnError" alt="Photo">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
