.full-width-table {
  width: 100%;
}

.app-card {
  min-width: 250px;
  max-width: 400px;
  margin: 5px
}

.app-tile:hover {
  cursor: pointer;
  opacity: 0.8;
  border: solid 2px;
}

.app-card-image {
  min-width: 200px;
}


